body {

    background-image: url(assets/images/degradadoAzul.jpg);

}

/* .col{
    border: 5px solid green;
}  */
 
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    height: 275px;
}

.actionContainer {
    background-color:
        #c3e3fd;
    padding-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.titleContainer {
    font-family: Tahoma, sans-serif;
    background-color: #2196f3;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

h4 {
    width: 55px;
    height: 28.8px;
}

input {
    border-radius: 4px;
    border: none;
    height: 30px;
    width: 185px;
}

input.btn-dark{
    padding: inherit; 
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
